# Environment config

# Please specify everything for your bot

# Note: .env is a shell file, so the can't be spaces around =

PREFIX=?
BOT_TOKEN=ODg3Mzg3Njk2MDA2MzI4MzMx.YUDaMQ.jzTrL3Mq-0HQkWGK7E1ijigP1Vo
YTAPI_KEY=
PROJECT_DOMAIN=spexz-music-bot
